<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="text-decoration: none"><a href="/cars/list/">Cars</a></li>
    <li class="breadcrumb-item"><a href="/cars/list/">List Car</a></li>
  </ol>
</nav>
