<div class="top-navbar">
  <div class="left-side">
    <div>
      <img src="/public/images/logo.png" alt="" />
    </div>
    <div>
      <button id="collapspe-big-sidebar" class="btn btn-white"><i class="fa fa-bars"></i></button>
    </div>
  </div>
  <div class="right-side">
    <div style="margin-right: 10%">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-primary" type="submit">Search</button> &nbsp;
        <img src="/images/img-icons.png" alt="" style="width: 18%; height: 18%" />
      </form>
    </div>
  </div>
</div>
